????????-????-????-????-????????*
gmt*
.gmt*
tmp*

*.eps
*.png
*.ps

build/
__pycache__/
*.egg
*.egg-info/
*.py[cod]
*.so

.DS_Store
*.swp

docs/_build
docs/library/generated
scripts/

.git/

examples/greens_mode/
examples/db_mode/
data/
