????????-????-????-????-????????*
gmt*
.gmt*
tmp*

*.eps
*.png
*.ps

build/
__pycache__/
*.egg
*.egg-info/
*.py[cod]
*.so

.DS_Store
*.swp

docs/_build
docs/library/generated
scripts/

.git/

data/tests/benchmark_cap/20090407201255351/*
data/tests/benchmark_cap/greens/*
data/tests/benchmark_cap/greens_cps/*